@page
@using MegaDesk3.Models
@model MegaDesk3.Pages.DeskQuotes.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h1 class="font-accent">Edit Quote</h1>

<h4>DeskQuote</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="DeskQuote.DeskQuoteId" />
			<div class="field">
				<label asp-for="DeskQuote.CustomerName" class="label"></label>
				<input asp-for="DeskQuote.CustomerName" class="input--text" />
				<span asp-validation-for="DeskQuote.CustomerName" class="text-danger"></span>
			</div>
			<div class="field">
				<label asp-for="DeskQuote.Desk.Depth" class="label"></label>
				<input asp-for="DeskQuote.Desk.Depth" class="input--text" />
				<span asp-validation-for="DeskQuote.Desk.Depth" class="text-danger"></span>
			</div>
			<div class="field">
				<label asp-for="DeskQuote.Desk.Width" class="label"></label>
				<input asp-for="DeskQuote.Desk.Width" class="input--text" />
				<span asp-validation-for="DeskQuote.Desk.Width" class="text-danger"></span>
			</div>
			<div class="field">
				<label asp-for="DeskQuote.Desk.NumberOfDrawers" class="label"></label>
				<input asp-for="DeskQuote.Desk.NumberOfDrawers" class="input--text" />
				<span asp-validation-for="DeskQuote.Desk.NumberOfDrawers" class="text-danger"></span>
			</div>
			<div class="field">
				<label asp-for="DeskQuote.Desk.SurfaceMaterial" class="label"></label>
				<select asp-for="SelectedMaterial" asp-items="Model.SurfaceMaterials" class="input--text"></select>
				<span asp-validation-for="DeskQuote.Desk.SurfaceMaterial" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DeskQuote.RushOrderType" class="label"></label>
				<select asp-for="DeskQuote.RushOrderType" asp-items="Html.GetEnumSelectList(typeof(RushOrderType))" class="input--text"></select>
				<span asp-validation-for="DeskQuote.RushOrderType" class="text-danger"></span>
			</div>
			<div class="field">
				<input type="submit" value="Save" class="btn" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}
