@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MegaDesk 3.0</h1>
    <p>To start logging quotes for customers click on the "Quotes" navigation button in the upper right hand corner.</p>
</div>
