
/* Global Theme Vars */
:root {
    /*Colors*/
    --theme-color-main-1: #0E79B2;
    /*--theme-color-main-1: #A24936;*/
    --theme-color-main-2: #282B28;
    --theme-color-bg-1: #FDFDFD;
    --theme-color-txt-light: #FDFDFD;
    --theme-color-txt-dark: #30323D;
    --info: #084887;
    --success: #56BF00;
    --warning: #D33115;
    /*typography*/
    --theme-font-family: sans-serif;
    --theme-font-accent: 'Kalam', cursive;
    --theme-weight-main: 500;
    --theme-weight-bold: 700;
    /*Spacing*/
    --theme-margin: 1rem;
    --theme-padding: 1rem;
    /*Utilities*/
    --theme-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --theme-border-radius: 5px;
    --theme-transition: all 200ms ease;
}

/*Global Styles*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: var(--theme-font-family);
    margin: 0;
    padding: 0;
}



/*Header Styles*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
    background-color: var(--theme-color-main-1);
    box-shadow: var(--theme-box-shadow);
}
.header__logo {
    color: var(--theme-color-txt-light);
    font-size: 30px;
    font-family: var(--theme-font-accent);
}
.nav {}
.nav__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav__item {
    margin-right: var(--theme-margin);
}
.nav__link {
    color: var(--theme-color-txt-light);
    font-weight: var(--theme-weight-bold);
    text-decoration: none;
    font-size: 18px;
    transition: var(--theme-transition)
}
.nav__link:hover {
    color: var(--theme-color-txt-dark);
}

footer {
    height: 60px;
    background-color: var(--theme-color-main-1);
    color: var(--theme-color-txt-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: var(--theme-weight-bold);
    box-shadow: var(--theme-box-shadow);
}

/*Body (main tag) styles*/

main {
    padding: var(--theme-margin);
    max-width: 900px;
    margin: 0 auto;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

/*Index styles*/
.quote-table {
    width: 100%;
    border-collapse: collapse;
}

.quote-table th {
    color: var(--theme-color-txt-light);
    font-weight: var(--theme-weight-main);
}

.quote-table th, .quote-table td {
    padding: .5rem;
    text-align: left;
}

.quote-table thead tr{
    background-color: var(--theme-color-main-1);
}

.quote-table tbody tr {
    background-color: lightgrey;
}

.quote-table__icons {
    vertical-align: baseline;
}

.icon--edit { color: var(--info);}
.icon--detail {color: var(--success);}
.icon--delete { color: var(--warning);}

/*Utilities*/
.font-accent { font-family: var(--theme-font-accent);}
.clickable {cursor: pointer;}
.text-danger { 
    color: red;
    font-size: 14px;
    display: block;
}

/*Controls*/

form {
    margin: var(--theme-margin) 0;
}

.btn {
    padding: .37rem .75rem;
    background-color: var(--theme-color-main-1);
    border: none;
    font-size: 16px;
    color: var(--theme-color-txt-light);
    text-decoration: none;
    font-weight: var(--theme-weight-bold);
    transition: var(--theme-transition);
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.input--text {
    font-size: 16px;
    padding: .25rem;
    max-width: 200px;
    width: 200px;
}

.field {
    margin: .5rem 0;
}

.label {
    display: block;
    font-size: 16px;
    font-weight: var(--theme-weight-bold);
}

/*Detail View*/
.detail__list {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
}

.detail__list dt {
    background-color: var(--theme-color-main-1);
    color: var(--theme-color-txt-light);
    width: 100px;
    padding: .5rem;
}
.detail__list dd {
    border-bottom: 2px solid var(--theme-color-main-1);
    padding: .5rem;
    display: block;
    flex-grow: 1;
    margin: 0;
    width: 200px;
}

th a {
    color: var(--theme-color-txt-light) !important;
}






